:root {
    --base-grey: #222;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}
/* Styles */
nav {
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--base-grey);
}
nav ul {
    width: 50%;
    height: 100%;
    display: flex;
}

nav ul li {
    display: inline-block;
    height: 100%;
}
nav ul li a {
    display: block;
    width: 120px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    color: #FFF;
    text-transform: capitalize;
    transition: background .5s ease-in-out ;

}
nav ul li a:hover {
    background-color: #444;
    transition: background .5s ease-in-out ;
}

button {
    color: var(--base-grey);
    background-color: #FFF;
    width: 100px;
    height: 40px;
    border: 1px solid var(--base-grey);
    display: block;
    text-transform: capitalize;
    transition-property: color, background;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    margin: 10px 0;
}
button:hover {
    color: #FFF;
    background-color: var(--base-grey);
    transition-property: color, background;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}